.borderr1 {
	
border-bottom: none;
}
.borderr2 {
	border-bottom: none;

}



.Sidebar{

	height:1000px;

  /*color: rgb(232,232,232);*/

}
hr{


	border-color: rgb(102, 0, 255);
}
.Name{

	/*font-family: "Times New Roman";*/
}
.main-nav{

     display: flex;
     list-style: none;
     margin:0;

}

.Push{
	margin-left:auto;

}
@media only screen and(max-width: 600px){

 .main-nav {

 	font-size: 0.5em;
 	padding:0;
 }

}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  padding-bottom: 0;
  margin-bottom: 0;          
}
img{

	height: 50vh;
	width: auto;
	align-items: center;
	align-content: center;
}
p{
	align-content: center;
	align-items: center;
}

.navbarr{

	/*background-color:rgb(92, 0, 230);	*/
}


